<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Service Reports</title>
</head>

<body>
    <h1>Звіт про служби таксі</h1>

    <h2>Служба таксі з максимальною кількістю замовлень у певному періоді</h2>
    <label for="startDate">Введіть дату початку періоду</label>
    <br>
    <input id="startDate" type="date"><br>
    <label for="endDate">Введіть дату кінця періоду</label><br>
    <input id="endDate" type="date"><br>
    <button onclick="getMaxOrdersTaxiService()">Отримати</button><br>
    <table id="max-orders-result">
        <tr>
            <th>Служба таксі</th>
            <th>кількість замовлень</th>
        </tr>
    </table>

    <h2>Служби таксі з більше 100 викликами на день</h2>
    <button onclick="getTaxiServicesMoreThan100Orders()">Отримати</button>
    <pre id="more-than-100-orders-result"></pre>

    <script>
        function getMaxOrdersTaxiService() {
            const startDate = document.getElementById("startDate").value;
            const endDate = document.getElementById("endDate").value;
            console.log(startDate);
            fetch(`/api/taxi_services/max_orders?start_date=${startDate}&end_date=${endDate}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    data.forEach(element => {
                        document.getElementById('max-orders-result').innerHTML += "<tr><td>" + element.service_name + "</td><td>" +
                                element.total_orders + "</td></tr>";
                    });

                })
                .catch(error => console.error('Error:', error));
        }

        function getTaxiServicesMoreThan100Orders() {
            fetch(`/api/taxi_services/more_than_100_orders`)
                .then(response => response.json())
                .then(data => {
                    if (data.service_name != undefined)
                        document.getElementById('more-than-100-orders-result').textContent = data.service_name +
                        " " +
                        data.order_day + " " + data.total_orders;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>